<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Smart Cold Room Monitoring</title>
    <link rel="stylesheet" href="/static/style/styles6.css">
</head>
<body>

  <header>
    <h1>Smart Cold Room Monitoring for Fresher Fruits & Vegetables</h1>
    <p>Reduce waste. Protect quality. Monitor with confidence.</p>
  </header>

  <main>
    <br>
    <p>
      Keep your fruits and vegetables at peak freshness with real-time  monitoring.
      Our intelligent cold room solution helps you prevent spoilage,
      reduce losses, and deliver quality produce every time.
    </p>
    <br>
    <a href="/login" class="continue-button">Continue</a>
  </main>
  <br>
  <br>
  <br>
  <footer>
    &copy; 2025 Cold Room Monitoring Platform
  </footer>

</body>
</html>

